.devchen__project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  list-style-type: none;
  padding-inline-start: 0;
}

.devchen__project-title {
  margin-block-end: 2em;
}

.devchen__project-title h2 {
  margin-block: 0;
}

.devchen__project-title h2 {
  text-align: center;
  font-size: 2rem;
}

.devchen__project-seemore-btn-wrapper {
  display: grid;
  place-items: center;
  text-align: center;
  margin-block: 2em;
}

.devchen__project-seemore-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  background-color: var(--lime);
  color: var(--black);
  padding-block: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
  transition: box-shadow 150ms ease-in-out, color 150ms ease-in-out;

  span svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 17px 0 rgba(0, 0, 0, 0.75);
    color: var(--dark-green);
  }
}

.devchen__empty-text {
  grid-column: span 3;

  h2 {
    margin-block: 0;
    text-align: center;
    color: var(--bronze);
    font-size: 1rem;
  }
}

@media (min-width: 757px) {
  .devchen__project-title {
    padding-block: 2em;
    margin-block-end: 0;
  }

  .devchen__project-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .devchen__project-title h2 {
    font-size: 3rem;
  }

  .devchen__empty-text h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 980px) {
  .devchen__project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
