.devchen__hero {
  background-image: url("/assets/images/bg-image.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: grid;
  place-items: center;
  position: relative;
  min-height: 30vh;
  border-image: linear-gradient(233deg, rgba(0, 0, 0, 0) 9.96%, rgba(0, 0, 0, 0.6) 64.15%) fill 1;
}

.devchen__hero-title-group {
  text-align: center;
}

.devchen__hero-title-group h1 {
  font-size: 3.5rem;
  margin-block: 0;
}

.devchen__hero-title-group h1 span {
  color: var(--lime);
}

.devchen__hero-title-group h1 + p {
  margin-block: 0;
}

.devchen__hero-social-links {
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.devchen__hero-social-links li a svg {
  width: 35px;
  height: 35px;
  fill: var(--lime);
}


@media screen and (min-width: 980px) {
  .devchen__hero {
    width: min(100% - 2em, var(--container-width, 1200px));
    margin-inline: auto;
    min-height: 50vh;
  }

  .devchen__hero-title-group h1 {
    font-size: 6rem;
  }

  .devchen__hero-title-group h1 + p {
    font-size: 3rem;
  }
}
